<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Broadcast Board</title>
<style type="text/css">
	#container-board{width:500px; margin: 10px auto; font-family: arial;}
	#main-board{border: 1px solid gray; padding:0px 20px;font-size:13px;}
	input[name='new_msg']{width:495px;}
	#msg-area button{
		background-color: green;color:white;border:none;
		display:block;margin-left: 420px; width:80px;}
	input[name='new_msg'],#msg-area button{margin-top: 10px;}
	#container-board h1{font-weight: normal;text-decoration: underline; font-size: 25px;}
	#board-main div p{display:inline-block;}
	.name{width:120px;}

</style>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
<script type ="text/javascript">
    $(document).ready(function (){
        // var socket = io.connect();
        // socket.on('update_count',function(data){
        // 	$('#count').html(data);
        // });
    });

</script>
</head>
<body>
	<div id='container-board'>
		<h1>Conversation Board</h1>
		<div id='main-board'>
			<div><p class='name'>Michael:</p><p class='msg'>This app is so amazing... blah.. blah .. blah...</p></div>
			<div><p class='name'>SDFKSLFJSLJFD:</p><p class='msg'>This app is so amazing... blah.. blah .. blah...</p></div>
			<div><p class='name'>Michael:</p><p class='msg'>This app is so amazing... blah.. blah .. blah...</p></div>
		</div>
		<div id='msg-area'>
			<input type='text' name='new_msg' placeholder='enter your message here'>
			<button>Send</button>
		</div>
	</div>

</body>
</html>