<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Broadcast Entry</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/styles.css">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/jquery/main.js"></script>
</head>
<body>
	<div id='container-prompt'>

		<h3>Login to Dive Chat:</h3>
		<input class="first" type='text' name='name' placeholder="place your name here">
		<!-- <div> -->
			<button class='cancel-btn btn btn-danger' type="button">Cancel</button>
			<button class='ok-btn btn btn-success' type="button">OK</button>
		<!-- </div> -->
	</div>

	<div id='chatroom-options'>
		<h3>Please choose your chatroom or create a new one:</h3>
		<div>
			<div id='existing-chatrooms'></div>
			<div class='new-chatroom'>
				<input name='chatroom-name' type='text' placeholder='Enter chatroom name'>
				<button class='chatroom-create btn btn-info' type="button" value='Create'>Create</button>
			</div>
		</div>
	</div>


	<div id='container-board'>
		<div id='chatroom-header'>
			<h3>Conversation Board (Chatroom: <span id='chatroom-id'></span>)</h3>
			<button id='exit-room-btn' class='btn btn-danger'>Exit Room</button>
		</div>
		<div id='main-board'></div>
		<div id='msg-area'>
			<input type='text' name='new_msg' placeholder='enter your message here'>
			<!-- <button>Send</button> -->
		</div>
	</div>
</body>
</html>